@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

body {
  padding-left: 2%;
  padding-bottom: 2%;
  background: radial-gradient(circle, rgba(250, 212, 52, 1) 83%, rgba(218, 177, 52, 1) 100%);
}

.shadow {
  box-shadow: 2px 2px black;
}

p {
  font-size: 1.25rem;
}

.dFlex {
  display: flex;
}

#failed {
  color: red;
}

#added {
  color: green;
}

.headlineTable {
  justify-content: space-between;
}

h1 {
  font-size: 3.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  font-size: 2rem;
}

section {
  width: 100%;
  justify-content: space-around;
}

article {
  width: 40%;
  row-gap: 20px;
  flex-direction: column;
}

table {
  width: 100%;
}

button {
  background-color: white;
  padding: 0 1rem;
  font-size: 1.15rem;
}

.bold {
  font-weight: 600;
}

td {
  text-align: left;
  padding: 8px;
  font-size: 1.15rem;
}

tr:nth-child(odd) {
  background-color: orange;
}

tr:nth-child(even) {
  background-color: #fbd84b;
}

form {
  flex-direction: column;
  width: 60%;
  row-gap: 20px;
}

input {
  padding: 5px;
  font-size: 1.15rem;
}

.border {
  border: 2px solid #000;
}

#submit {
  width: 50%;
}
